<h1>Election Results</h1>

<p>Note: results will refresh after every ten votes.</p>

<ul>
  <% @candidates.map do |candidate| %>
    <li>
      <%= candidate.name %>: <%= candidate.votes.size %>
    </li>
  <% end %>
</ul>
