<h1>Cast your vote today!</h1>

<% @candidates.map do |candidate| %>
  <%= candidate.name %>
<% end %>

<p>
  Or, add a new candidate:
</p>

<%= form_with model: @candidate_fields, url: '/candidates' do |form| %>
  <%= form.text_field :name %>
  <%= form.submit %>
<% end %>
